---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const pageTitle = "Sobre mi ";
const allPosts = await Astro.glob('../pages/posts/*.md')
---
<BaseLayout pageTitle={pageTitle}>
    <h1>Mi Blog</h1>
		<h1>Mi Aprendizaje con Astro</h1>
        <p>Aqui es donde publicare acerca de mi viaje aprendiendo con Astro</p>
        <ul>
            {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
          </ul>
  </BaseLayout>

		
